* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "simpsons";
  src: url(./simpfont.ttf) format("truetype"); }
body {
  font-family: "simpsons", Verdana, Tahoma;
  font-weight: 300; }

#headline {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 59.14894%;
  color: #1791FF; }
  #headline:last-child {
    margin-right: 0; }
  #headline h1 {
    font-size: 43px;
    margin: -10px 0 10px 0; }

#explainer {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  margin-top: -10px;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 28.51064%; }
  #explainer:last-child {
    margin-right: 0; }

#container {
  *zoom: 1;
  max-width: 87.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  min-width: 1280px;
  margin-left: 40px; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }

#tv {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 65.95745%;
  background: black;
  width: 800px;
  height: 600px; }
  #tv:last-child {
    margin-right: 0; }

#bubbles {
  margin-bottom: 5px; }
  #bubbles img {
    width: 50px;
    padding: 10px;
    cursor: pointer; }
    #bubbles img.active {
      background: #FF360F; }
    #bubbles img:hover:not(.active) {
      background: #ff9d89; }

#resources {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%; }
  #resources:last-child {
    margin-right: 0; }
  #resources select {
    width: 260px;
    font-size: 20px; }
  #resources ul {
    height: 505px;
    overflow: auto; }
  #resources li {
    list-style: none;
    cursor: pointer; }
    #resources li img {
      width: 200px; }
      #resources li img:hover {
        background: #EDEDED; }
      #resources li img.hidden {
        display: none; }

#controls {
  font-weight: 300;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 100%;
  padding-top: 20px;
  height: 100px;
  margin-bottom: 20px; }
  #controls:last-child {
    margin-right: 0; }
  #controls a {
    position: absolute;
    font-size: 30px;
    text-decoration: none;
    color: #FFD90F;
    background: #1791FF;
    padding: 16px 30px 10px 30px; }
    #controls a:hover {
      background: #319dff; }
    #controls a#save {
      left: 50;
      min-width: 230px; }
    #controls a#imgur {
      left: 370px;
      height: 56px; }
    #controls a#uploaded {
      left: 370px;
      width: 0px;
      background: #FF360F;
      overflow-x: hidden;
      height: 56px; }
    #controls a.uploading {
      padding: 0; }
    #controls a.uploaded {
      background: #FF360F;
      padding: 16px 30px 10px 30px; }

/*# sourceMappingURL=application.css.map */
