
@font-face {
  font-family: "simpsons";
  src: url(./simpfont.ttf) format("truetype");
}
@font-face {
  font-family: "action";
  src: url(./Action_Man.ttf) format("truetype");
}
@font-face {
  font-family: "komika";
  src: url(./Komika_display.ttf) format("truetype");
}


$light-gray: #DDDDDD;
$medium-gray:#494949;
$dark-gray:#4A4A4A;
$yellow: #FFD90F;
$blue: #1791FF;
$red: #FF360F;
$green: #61BDA8;
$reddit-blue: #336699;
$reddit-orange: #ff5700;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$simpsons: "simpsons", Verdana, Tahoma;



body{
  margin:0;
  background:black;
  font-family:$helvetica;
  min-width:1200px;

  #background{
    background-image:url('./spider-man.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100%;
    height:100%;
    position:fixed;
    opacity:0;
    z-index:-10;
    padding:0;
    margin:0;
  }

  #loading{
    position:fixed;
    top:0;
    left:0;
    width:0px;
    background:$red;
    height:10px;
    z-index:100;

  }

  #logo{
    position:fixed;
    z-index:10;
    width:162px;
    height:16px;
    font-family:$simpsons;
    color:yellow;
    padding:28px 0;
    text-align:center;
    border-bottom-right-radius:10px;
    font-size:20px;
    text-decoration:none;
    #beta{
      position:fixed;
      font-size:15px;
      color:$blue;
      left:118px;
      padding-top:2px;
    }
  }

  .controls{
    background-color:rgba(0, 0, 0, 0.6);
    position:fixed;
    &.top-controls{
      height:70px;
      width:calc(100% - 348px);
      margin-left:170px;
      margin-right:170px;
      z-index:2;
      padding:4px;
      #poses{
        margin:0;
        padding-left: 0;
        width:100%;
        font-size:30px;
        vertical-align:-70px;
        color:white;
        font-family:$simpsons;
        .pose{
          list-style-type: none;
          cursor:pointer;
          float:left;
          position:relative;
          .image{
            height:55px;
            min-width:15px;
            background-color:rgba(255, 255, 255, 0.1);
            margin:5px 5px;
            padding:5px;
            &:hover{
              background-color:rgba(255, 255, 255, 0.4);
            }
          }
          .thumb-preview{
            height:150;
            width:150;
            position:absolute;
            display:none;
            background:rgba(0, 0, 0, 0.6);
            top:55px;
            left:48px;
            z-index:20;
            text-align:center;
            border:2px solid black;
            opacity:0;
          }
          &:hover{
            .thumb-preview{
              display:block;
            }
          }

        }
      }
    }
    &.bottom-controls{
      height:70px;
      bottom:0;
      width:calc(100% - 340px);
      margin-left:170px;
      margin-right:170px;

      #bubbles{
        overflow-x:hidden;
        .bubble{
          float:left;
          cursor:pointer;
          padding-top:4px;
          margin-bottom:50px;
          &:hover{
            background:$light-gray;
          }
          img{
            height:35px;
          }
        }
      }
    }
    &.right-controls{
      height:100%;
      width:160px;
      right:0;
      padding-top:80px;
      padding-left:7px;
      padding-right:3px;
      text-align:center;

      #explainer{
        margin-top:20px;
        color:white;
        font-size:13px;
        text-align:left;
        border-top:2px solid $medium-gray;
        border-bottom:2px solid $medium-gray;
        padding-top:10px;
        padding-bottom:10px;

        a{
          color:$blue;
          text-decoration:none;
        }

      }

      a:not(.explain-link){
        width:97%;
        font-size:15.5px;
        background:$green;
        color:white;
        border:0;
        font-family:$simpsons;
        padding:10px 1px;
        cursor:pointer;
        margin-bottom:10px;
        text-decoration:none;
        display:block;
        border-bottom:2px solid $light-gray;

        &:hover{
          background:darken($green,10%)
        }
        &#imgur{
          background:lighten($blue,10%);
          &:hover{
            background:lighten($blue,13%)
          }

        }
        &.uploading{
          background:darken($blue,7%) !important;
          border-bottom:2px solid $red;
        }
        &.no-scene{
          background:darken($red,17%) !important;

        }
        &#uploaded{
          background:$red;
          color:$yellow;
          display:none;
          border-bottom:2px solid $yellow;

          &:hover{
            background:lighten($red,3%);
          }
        }
        &#reddit{
          background:$reddit-blue;
          border-bottom:2px solid $reddit-orange;
          display:none;
          &:hover{
            background:lighten($reddit-blue,3%);
          }
        }

      }




    }
    &.left-controls{
      height:100%;
      width:160px;
      left:0;
      padding:80px 5px;
      font-size:15px;
      color:white;
      font-weight:400;
      #collections{
        width: 100%;
        font-size:16.5px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor:pointer;
        padding:4px;
        border-radius:0;
        font-weight:500;
        color:darken($blue,20%);
      }
      #characters{
        padding-left: 0;
        margin-top:5px;
        .character{
          padding:4px;
          list-style-type: none;
          cursor:pointer;
          &:hover{
            background-color:rgba(0, 0, 0, 0.6);
          }
          &.active{
            background:rgba(97,189,168,0.7);
            color:white;
          }
        }
      }
    }
  }

  .container{
    padding-top:130px;
    margin-bottom:88px;

    .canvas{
      margin-left:auto;margin-right:auto;
      background:$light-gray;
      box-shadow:0px 3px 70px 15px #000;
      height:500px;
      width:800px;
      overflow:auto;
      margin-bottom:30px;
      &.tv{
        display:none;
        opacity:0.52;
        cursor:pointer;
        position:relative;
        &:hover{
          opacity:0.88;

        }
        &.active{
          opacity:1;
          cursor:default;

          &:hover{
            opacity:1;

          }
        }
      }
      &.bg-holder{
        display:none;

        .background-image{
          float:left;
          cursor:pointer;
            width:200px;
            height:140px;
          img{
            width:200px;
            height:140px;
          }
        }
        .loader{
          margin-top:160px;
          margin-left:250px;
        }
        .no-bg-message{
          padding:20px;
          text-align:center;
          margin-top:30px;
        }

      }
      &.starter{
        //opacity:0;
        text-align:center;
        font-size:25px;
        background-image:url('./graycomic.jpg');
        display:none;
        
        .starter-collections{
          margin-top:126px;
          width: 422px;
          font-size:25px;
          text-align:center;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor:pointer;
          padding:15px;
          border-radius:0;
          font-weight:bold;
          border:0;
          border-bottom:3px solid $blue;
          &:hover{
            border-bottom:3px solid $red;

          }

        }
        #imageLoader{
          display:none;
        }
        .file-upload-styled{
          background:white;
          width:400px;
          padding:15px;
          margin-right:auto;margin-left:auto;
          text-align:left;
          font-weight:bold;
          border-bottom:3px solid $blue;
          cursor:pointer;
          &:hover{
            border-bottom:3px solid $red;
          }
        }
      }
    }
    .imgur-link-a{
      color:darken($blue,10%);
      text-decoration:none;
      font-size:15px;
      .imgur-link{
        display:none;
        width:300px;
        margin-left:auto;
        margin-right:auto;
        padding:6px;
        background:lighten($light-gray,6%);
        text-align:center;
        margin-bottom:30px;
        box-shadow:0px 3px 40px 10px #000;
        border-bottom:3px solid $blue;
        .name{
          color:$medium-gray;
        }
        &:hover{
          background:white;
        }
        &.album{
          margin-top:-30px;
        }
      }
    }
  }

  @media all and (max-width: 1200px) {
    .top-controls{
      width:862px !important;
    }
    .bottom-controls{
      width:870px !important;
    }
    .right-controls{
      left:1040px;
    }
  }
  @media screen and ( max-height: 700px ){
    .container{
      padding-top:90px !important;
    }
  }




}
