$light-gray: #EDEDED;
$simpsons-yellow: #FFD90F;
$simpsons-blue: #1791FF;
$simpsons-red: #FF360F;
$marge-green: #53B642;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@font-face {
	font-family: "simpsons";
	src: url(./simpfont.ttf) format("truetype");
}


body {
	font-family: "simpsons", Verdana, Tahoma;
	font-weight: 300;
	background:$simpsons-blue;

}

#headline{
	@include span-columns(8);

	color: $simpsons-blue;
	h1{
		font-size:30px;
		margin:3px;
		padding:16px;
	}
}
#explainer{
	font-family: $helvetica;
	font-size:13px;
	padding:10px;
	margin:3px 10px 3px 3px;
	@include span-columns(3.6);
}

#container{
	@include span-columns(6);
	@include shift(0.2);
	box-shadow: 0 0 20px darken($simpsons-blue,20%);

	margin-top:10px;
	min-width:1160px;
	background:white;
	border-radius:5px;

}
#story-wrapper{
	@include span-columns(8);
	width:820px;
	height:680px;
	overflow:auto;
	position:relative;
	z-index:0;

	#add-scene{
		background:$simpsons-red;
		color:$simpsons-yellow;
		//position:absolute;
		margin-left:5px;
		margin-top:-10px;
		margin-bottom:10px;
		font-size:30px;
		border:0;
		border-radius:15px;
		padding:10px 20px 10px 20px;
		z-index:30;
		cursor:pointer;
		font-family: "simpsons", Verdana, Tahoma;
		opacity:0;
	}
}
.tv{
	@include span-columns(8);
	background:black;
	width:800px;
	height:600px;
	display:none;
	opacity:0.4;
	cursor:pointer;
	margin-bottom:20px;
	z-index:1;

	&:hover{
		opacity:0.5;
	}
	&.active{
		opacity:1;
		cursor:default;

	}

}
.bg-holder{
	@include span-columns(8);
	background:black;
	width:800px;
	height:600px;
	overflow:auto;
	margin-bottom:20px;
	color:$simpsons-yellow;
	.loading-message{
		margin-left:210px;
		margin-top:250px;
		font-size:30px;
	}
	.background-image{
		cursor:pointer;
		width:25%;
		height:150px;
		overflow:hidden;
		float:left;
		margin-top:0;
		img{
			width:100%;
		}
	}

}

#bubbles{
	margin-bottom:5px;
	img{
		width:50px;
		padding:10px;
		cursor:pointer;
		&.active{
			background:$simpsons-red;
		}
		&:hover:not(.active){
			background:lighten($simpsons-red,24%);

		}
	}
}

#resources{
	font-family: $helvetica;
	font-weight: 300;

	@include span-columns(2);
	min-width:270px;
	select{
		width: 260px;
		font-size:20px;
	}
	#poses{
		height:505px;
		overflow:auto;
		font-size:12px;
		margin-left:-50px;
	}
	li{
		list-style:none;
		width:50%;
		float:left;
		padding:10px;
		height:120px;
		img{
			max-width:100%;
			max-height:100%;
			&:hover{
				background:$light-gray;
			}
			&.hidden{
				display:none;
			}
		}
		cursor:pointer;

	}
}
#controls{
	font-weight: 300;

	@include span-columns(12);
	padding-top:2px;
	height:90px;
	margin-bottom:5px;
	a{
		display:none;

		position:absolute;
		font-size:30px;
		text-decoration:none;
		color:$simpsons-yellow;
		background: lighten($simpsons-blue,7%);
		padding:16px 30px 10px 30px;
		&:hover{
			background:lighten($simpsons-blue,10%)
		}

		&#save{
			left:50;
			min-width:230px;

		}
		&#imgur{
			left:370px;
			height:56px;

		}
		&#uploaded{
			left:370px;
			width:0px;
			background:$simpsons-red;
			overflow-x:hidden;
			height:56px;
			.hidden-text{
				opacity:0;
			}
			&:hover{
				background:lighten($simpsons-red,4%)
			}

		}
		&.uploading{
			padding:0;
		}
		&.uploaded{
			background: $simpsons-red;
			padding:16px 30px 10px 30px;
		}
	}
}

#footer{
	@include span-columns(12);
	font-family: $helvetica;
	line-height:22px;
	margin-bottom:10px;
	a{
		text-decoration:none;
		color:$simpsons-red;
	}
}

.dancer-loader{
	margin-bottom:30px;
}
